{
  "app": {
    "guid": "05448856-0b20-4a9a-971f-cbb5d7c90e7b",
    "version": "",
    "groupId": "",
    "artifactId": ""
  },
  "odata": {
    "exposeEntities": true,
    "exposeMetadata": true,
    "metadataSecurity": null,
    "entitiesSecurity": null,
    "expandCompositeKeys": false,
    "addDisplayFields": true
  },
  "openApi": {
    "exposeEndpoints": false,
    "exposeDataSources": false,
    "exposeEntities": false,
    "exposeBlocklys": false,
    "exposeAuth": false
  },
  "security": {
    "token": "MmMwODE5MTEtNDg5My00NzU3LTlmN2ItYjI1NTQ4MDIwM2Uw",
    "tokenExpiration": 3600,
    "tokenRecaptcha": null
  },
  "auth": {
    "type": "internal",
    "defaultDomain": null,
    "hostname": null,
    "autoSignUp": true,
    "socialLogin": false,
    "mutual": false,
    "socialNetworks": [],
    "autoSignUpSocial": false,
    "applicationProperties": {},
    "templateProperties": null,
    "groupName": null,
    "availableSignup": true,
    "minPasswordSize": null,
    "failedAttempts": null,
    "blockTime": null,
    "idletime": null,
    "onlyStrongPass": null,
    "dontAllowRepeatedPass": null,
    "minUpperCase": null,
    "minDigit": null,
    "minSpecial": null
  },
  "email": {
    "emailResetPassword": null,
    "nameResetPassword": null
  },
  "fixedTimeZone": true,
  "timeZone": "UTC",
  "projectName": null,
  "timeZoneOffset": 0,
  "flushMode": "AUTO",
  "libraryConfiguration": {},
  "themeConfiguration": {
    "webTheme": {
      "themeName": null,
      "searchableText": null,
      "themeDescription": null,
      "imgSrc": null,
      "themePath": null,
      "deprecated": false
    },
    "mobileTheme": {
      "themeName": null,
      "searchableText": null,
      "themeDescription": null,
      "imgSrc": null,
      "themePath": null,
      "deprecated": false
    },
    "webSkin": {
      "skinPath": null,
      "skinRelativePath": ""
    },
    "mobileSkin": {
      "skinPath": null,
      "skinRelativePath": ""
    }
  },
  "saveAuditLog": 365,
  "showStackTrace": true,
  "locale": null,
  "biometricAuthentication": false,
  "webMainRoute": "views/login.view.html",
  "mobileMainRoute": "views/login.view.html",
  "xframeOptions": "SameOrigin"
}