{
  "app": {
    "guid": "7b677b8c-e5f7-4a18-88bb-72cb6de5e64e",
    "version": "1.0-SNAPSHOT",
    "groupId": "io.cronapp.apps.lyceumxpoc",
    "artifactId": "io.cronapp.apps.lyceumxpoc"
  },
  "odata": {
    "exposeEntities": true,
    "exposeMetadata": false,
    "metadataSecurity": "Administrators;",
    "entitiesSecurity": "Authenticated;",
    "expandCompositeKeys": false,
    "addDisplayFields": true
  },
  "security": {
    "token": "N2I2NzdiOGMtZTVmNy00YTE4LTg4YmItNzJjYjZkZTVlNjRl",
    "tokenExpiration": 3600,
    "tokenRecaptcha": null
  },
  "auth": {
    "type": "SSO",
    "defaultDomain": null,
    "hostname": null,
    "autoSignUp": true,
    "socialLogin": false,
    "mutual": false,
    "socialNetworks": [],
    "autoSignUpSocial": false,
    "applicationProperties": {
      "security.oauth2.client.clientId": "cronapp-poc1",
      "security.oauth2.client.clientAuthenticationScheme": "form",
      "security.oauth2.saml.storePass": "storePass",
      "security.oauth2.client.accessTokenUri": "https://identity.dev.lyceum.cloud/realms/universidade/protocol/openid-connect/token",
      "security.oauth2.saml.entityId": "entityId",
      "security.oauth2.client.userAuthorizationUri": "https://identity.dev.lyceum.cloud/realms/universidade/protocol/openid-connect/auth",
      "security.oauth2.client.clientSecret": "lxPjqCeD5xiBMaSJIZr7BWPiEgWYGEpF",
      "security.oauth2.saml.storeFile": "storeFile",
      "security.oauth2.saml.privateKeyPass": "privateKeyPass",
      "security.oauth2.resource.userInfoUri": "https://identity.dev.lyceum.cloud/realms/universidade/protocol/openid-connect/userinfo",
      "security.oauth2.saml.metadataUrl": "metadataUrl",
      "security.oauth2.client.logoutUri": "https://identity.dev.lyceum.cloud/realms/universidade/protocol/openid-connect/logout?redirect_uri\u003dhttps://app-30-241-49170.ide.cronapp.io",
      "security.oauth2.sso.login-path": "/login",
      "security.oauth2.saml.privateKey": "privateKey",
      "security.oauth2.resource.preferTokenInfo": "false",
      "security.oauth2.client.scope": "openid profile email"
    },
    "templateProperties": {
      "selectdatabase": "Utilizar banco de dados temporário em disco (H2)",
      "appid": "io.cronapp.apps.lyceumxpoc",
      "backend": "true",
      "menuPosition": "Horizontal",
      "frontend": "true",
      "mutual": "false",
      "social": "false",
      "theme": "Material",
      "authentication": "SSO"
    },
    "groupName": null
  },
  "fixedTimeZone": true,
  "timeZone": "UTC",
  "timeZoneOffset": 0,
  "flushMode": "AUTO",
  "locale": "",
  "xframeOptions": "SameOrigin"
}